/*Common nav styles*/
.navigation-wrapper { 
    height: 190px;
    background-color: #11122b;
    color:#cbcbcb;
    /* flex-box container*/
    display: flex;/*has only one directuon of comuns*/
    justify-content: space-between; /* make a space between items*/
    align-items: center; /* after justify-content space divided on 3 collums and align-items just put all 3 items in center of each collumn*/
    padding: 60px 100px;/* clock wise*/
    /* padding: 60px 100px; if i put only 2 definitions then it means that 60px will apply for top and bottom and 100px will apply for right and left  */
    /* padding-top: 60px;
    padding-bottom: 60;
    padding-left: 60;
    padding-right: 60; */
}

/*Left Columns Styles*/

.navigation-wrapper > .left-column {
    display: flex;
    align-items:center;

}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .contact-hours.wrapper > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: ivory;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;/* if i know how many columns will be than i can use grid, and when i dont i can use flelx*/ 
    grid-template-columns: 1fr;/* create columns in one class and divide it. Plus if iwant to divide text in one column(create another 
    column, i can do this - grid-template-columns: 1fr, 1fr etc...;*/
    grid-gap: 10px;/* create a space between items*/
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em
}
/*Right column styles*/

.navigation-wrapper > .right-column{
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right; 
}
.navigation-wrapper > .right-column > .address-wrapper a{
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a{
    color:#cbcbcb;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon a:hover{
    color: #cea315;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover{
    color:#cea315; 
}

.navigation-wrapper > .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image{
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img{
    width: 216px;
    height: 100%;
}

 .links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
 }

 .links-wrapper > .nav-link a {
    font-family: "Unumtu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
 }

 .links-wrapper > .nav-link  a:hover{ /*hover - sudo state whenever hovertake the space i want change the value to ever we pass this inside this hover spaces*/
    color:#cea315;
    letter-spacing: 2px; 
}